$blue : #38B1FF;
$pink : #CC6DC7;
$dgray : #3F3F3F;
$blue_royal : #004FAE;
//$blue_royal : indianred;
$orange : #ff5c00;
$yellow : #F7971E;
$blue_pale :#D8E1F3;
$green: #1D9D74;

.pink{color:$pink;}
.blue{color:$blue;}
.green{color:$green}
.yellow{color:$yellow}
.blue_royal{color:$blue_royal;}
.blue_pale{color:darken($blue_pale,10%);}
.bg-blue_royal{ background-color: $blue_royal;}
