.pop_window{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999990;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.6;
}


.box
{

  @media (max-width: 768px) {

    top: 5%;
    left: 1%;

  }
  @media (min-width: 769px) and (max-width: 3000px) {
    top: 24%;
    left: 35%;
  }

  position: fixed;
  z-index: 999999;
  background-color: white;
  opacity: 1;



  .title-box{
    text-align: left;

    .title{
      h4{
        padding-top: 15px;
      }
    }

    .modal-close{
      color: darken(darkgray,30%);
      padding-top: 7px;

      a{
        padding-top: 7px;
        color: darken(darkgray,30%);

        &:hover{
          color:$yellow;
          transition: color 1s;
        }
      }

    }
  }

  .box-content{
    padding-top: 13px;



    .product-img
    {
      img{
        width: 100%;
        height: auto;
      }
    }

    .product-description{

      h4{
        font-weight: bolder;
      }

      h5{
        line-height: 180%;
      }
    }
  }


  .box-button{
    .first-button-wrapper
    {
      .first-button {
        padding: 4px 4px 8px 8px;
        .button-content
        {
          text-align: center;
          background-color: $yellow;
          color: white;
          a {
            padding: 5px;
            color: white;
          }

          &:hover {
            background-color: darken($yellow, 10%);
            transition: background-color 0.5s;
          }
        }
      }
    }
    .second-button-wrapper{
      .second-button{
        padding: 4px 8px 8px 4px;
        .button-content{
          text-align: center;
          background-color: $blue_royal;
          color:white;
          a{
            padding: 5px;
            color:white;
          }

          &:hover{
            background-color: darken($blue_royal,8%);
            transition: background-color 0.5s;
          }
        }
      }

    }
  }



}