.result-wrapper-content{
  margin-bottom: 20px;

  .picture{
    img{
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }

  .content-product-wrapper {

    .stock-wrapper{
      .stock{
        text-align: left;

        span{
          font-family: arial, sans-serif;
          margin-left: 0px;
          font-size:0.8em;
          padding: 5px;
          background-color: mediumseagreen;
          color:white;
          font-weight: bolder;
        }
      }
    }


    .content{
      .product{
        a
        {
          font-size: 1.5em;
          color:black;
          &:hover{
            color:black;
            text-decoration: underline;
          }
        }
      }



    }
  }

  .content-data-wrapper{

    .data-description{


      .wrapper-description{
        //border:solid 1px red;

        .description{

          line-height: 180%;
        }
      }

      .wrapper-caracteristique{
        padding: 10px 2px 2px 2px;

        .caracteristique{
          h6{
            font-family: arial, sans-serif;
            letter-spacing: 2px;
          }
        }
      }
    }

    .data-button{
      .button-wrapper{
        padding: 2px;
        font-weight: bolder;
        text-align: center;
        input{
          &.add-filtre{
            width: 100%;
            box-shadow: none;
            border: none;

            i{
              position: relative;
              left: 0;
            }

            padding: 15px 15px 15px 15px;
            //background-color: $blue_royal;
            //background-color: lighten(grey,20%);
            background-color: $blue_royal;
            //background-color: #3c73b5;
            &:hover{
              i{
                position: relative;
                left: -3px;
                transition: left 0.5s ;
              }
              background-color: darken($blue_royal,15%);
              transition: background-color 0.5s ;
            }
            color: white
          }
        }
        a{
          .add-demande{

            i{
              position: relative;
              left: 0;
            }

            padding: 15px 15px 15px 15px;
            //background-color: $blue_royal;
            //background-color: lighten(grey,20%);
            background-color: $blue_royal;
            //background-color: #3c73b5;
            &:hover{
              i{
                position: relative;
                left: -3px;
                transition: left 0.5s ;
              }
              background-color: darken($blue_royal,15%);
              transition: background-color 0.5s ;
            }
            color: white
          }
        }

        a{
          .add-reset{

            i{
              position: relative;
              left: 0;
            }

            padding: 15px 15px 15px 15px;
            //background-color: $blue_royal;
            //background-color: lighten(grey,20%);
            background-color: $yellow;
            //background-color: #3c73b5;
            &:hover{
              i{
                position: relative;
                left: -3px;
                transition: left 0.5s ;
              }
              background-color: darken($yellow,15%);
              transition: background-color 0.5s ;
            }
            color: white
          }
        }

        a {
          color:lighten(black,20%);
          .fiche-technique {
            i{
              color:indianred;
              font-size: 1.3em;
            }
            //#0083ae
            padding: 15px 15px 15px 15px;

            //background-color: #0083ae;
            //background-color: lighten(grey,20%);
            //background-color: #d7bb99;

            //background-color: #0083ae;
            //background-color: $yellow;
            &:hover {
              i{
                font-weight: bolder;
              }
              text-decoration: underline;
              background-color: lighten(indianred,30%);
              transition: background-color 0.5s ease;
            }
            //color: white
            color:lighten(black,20%);
            //color: darken($yellow,35%);
            //color: $blue_royal;
          }
        }
      }
    }
  }
}