.panel-g {
  font-family: 'Lato', sans-serif;
  //border: solid 1px lightgrey;

  a {
    color: #3F3F3F;
  }

  .first-panel- {
    background-color: white;
    padding-top: 5px;
    border-right:solid 2px lighten($blue_royal,0%);
    border-left:solid 2px lighten($blue_royal,0%);

    &:hover {

      background-color: lighten($blue_royal,0%);
      .panel-h {
        .panel-t {

          background-color: lighten($blue_royal,0%);
          -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
          -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
          box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,1);
          padding: 5px;

          i.fa-stack-2x {
            color: $blue_royal;
          }

          .badge-euro {
            background-color: lighten($blue_royal, 10%);
          }

          i.fa-stack-2x {
            color: white;
          }

          i.fa-stack-1x {
            color: lighten($blue_royal, 0%);
          }

          a {
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }

        }

      }

    }

    .panel-h {
      .panel-t {
        padding: 5px;
        i.fa-stack-2x {
          color: lighten($blue_royal,0%);
        }

        &:hover {
          .badge-euro {
            background-color: lighten($blue_royal, 0%);
          }
          background-color: lighten($blue_royal,0%);
          i.fa-stack-2x {
            color:white;
          }
          i.fa-stack-1x {
           color:$blue_royal;
          }
          a {
            &:hover { }
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }
      }
    }

  }
  .panel-:last-child{
    border-bottom: solid 5px lighten($blue_royal,0%);
    border-right:solid 2px lighten($blue_royal,0%);
    border-left:solid 2px lighten($blue_royal,0%);
  }
  .panel- {

    border-right:solid 2px lighten($blue_royal,0%);
    border-left:solid 2px lighten($blue_royal,0%);

    font-family: 'Lato', sans-serif;
    background-color: white;
    border-top: dotted 1px lighten($blue_royal,10%);

    &:hover {
      background-color: lighten($blue_royal,0%);

      .panel-h {
        .panel-t {
          i.fa-stack-2x {
            color: $blue_royal;
          }

          .badge-euro {
            //background-color: lighten($blue_royal, 10%);
          }
          background-color: lighten($blue_royal,0%);
          i.fa-stack-2x {
            color: white;
          }
          i.fa-stack-1x {
            color: lighten($blue_royal, 0%);
          }
          a {
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }

    .panel-h {
      .panel-t {
        padding: 5px;
        i.fa-stack-2x {
          color: lighten($blue_royal,0%);
        }

        &:hover {

          .badge-euro {
            background-color: lighten($blue_royal, 10%);
          }
          background-color: lighten($blue_royal,0%);;

          i.fa-stack-2x {
            color: white;

          }
          i.fa-stack-1x {
            color: lighten($blue_royal, 0%);

          }
          a {
            &:hover {

            }
            border-bottom: dashed 2px whitesmoke;
            color: white;
          }
        }

      }

    }
  }
}

.first-panel- {
  font-family: 'Lato', sans-serif;
  :hover {
    .panel-h {
      .panel-t {
        .euro-stack {
          color: red;
        }
      }
    }
  }
}

.panel-b {
  font-family: 'Lato', sans-serif;
  padding: 7px 7px 7px 20px;
  margin: 0;
  background-color: white;

}


.second-nested-panel-{
  &:hover{
    .second-nested-panel-h{
      .second-nested-panel-t{
        a{
          color:lighten($blue_royal,0%);;
        }
      }
    }
  }
}

.second-nested-panel-h{
  padding: 8px 3px 3px 3px;
  :hover{
    color:lighten($blue_royal,0%);
  }
}
.second-nested-panel-b{
  padding: 0px 10px 10px 10px ;
  border-bottom: dotted 1px lighten(lightgrey,0%)
}

.bb3pink{
  border-bottom: solid 3px lighten($blue_royal,0%)

}

#image_configurateur{
  img{
    width: 80%;
    max-width: 120px;
    height: auto;
    &:hover{
      border:dashed 1px lighten($blue_royal,0%);
    }
  }
}

