.badge-euro {
  padding: 7px 10px 7px 10px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: lighten($dgray,10%);
}

.backtop > a{
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  bottom:100px;
  right:15px;
  background-color: $orange;
  height: 30px;
  width: 30px;
  text-align: center;
  color:white;
}
.backtop-yellow > a:hover{
  background-color: darken($yellow,10%);
}

.backtop-yellow > a{
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  bottom:100px;
  right:15px;
  background-color: $yellow;
  height: 30px;
  width: 30px;
  text-align: center;
  color:white;
}


.backtop > a:hover{
  background-color: darken($orange,10%);
}


.backtop-md > a{
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  bottom:100px;
  right:50px;
  background-color: $orange;
  height: 30px;
  width: 30px;
  text-align: center;
  color:white;
}
.backtop-md  > a:hover{
  background-color: darken($orange,10%);
}


span.circle-badge-fa {
  i{
    font-size: 1.3em;
  }
  &:hover{
    background: darken($blue_royal,10%);
  }
  background: $blue_royal;
  border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 4em;
  margin-right: 8px;
  text-align: center;
  width: 4em;
}