.badge-euro {
  padding: 7px 10px 7px 10px;
  text-align: center;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  background-color: lighten($dgray,10%);
}

.backtop > a{
  z-index: 10;
  padding: 4px;
  border-radius: 4px;
  position: fixed;
  bottom:15px;
  right:15px;
  background-color: $orange;
  height: 30px;
  width: 30px;
  text-align: center;
  color:white;
}
.backtop > a:hover{
  background-color: darken($orange,10%);
}