a {
  &.btn-euro-pink {
    width: 100%;
    padding-top: 6px;
    padding-bottom:6px;
    color: white;
    background-color: $pink;
    &:hover {
      background-color: darken($pink, 5%);
      color: white;
    }
  }
}

a {
  &.btn-euro-orange {
    width: 100%;
    padding-top: 6px;
    padding-bottom:6px;
    color: white;
    background-color: $orange;
    &:hover {
      background-color: darken($orange, 5%);
      color: white;
    }
  }
}

a {
  &.btn-euro-yellow {
    width: 100%;
    padding-top: 6px;
    padding-bottom:6px;
    color: white;
    background-color: $yellow;
    &:hover {
      background-color: darken($yellow, 5%);
      color: white;
    }
  }
}

.btn-euro-blue {
  border:none;
  box-shadow: none;
  width: 100%;
  color: white;
  background-color: $blue;
  &:hover {
    background-color: darken($blue, 5%);
    color: white;
  }
}
.btn-euro-blue-royal {
  border:none;
  box-shadow: none;
  width: 100%;
  color: white;
  background-color: $blue_royal;
  &:hover {
    background-color: darken($blue_royal, 5%);
    color: white;
  }
}

.btn-euro-blue-royal-square {
  border-radius: 0;
  line-height: 25px;
  border:none;
  box-shadow: none;
  width: 100%;
  //color: white;
  //background-color: $blue_royal;
  background-color: white;
  border:3px solid $blue_royal;
  color: $blue_royal;
  &:hover {
    background-color: darken($blue_royal, 5%);
    color: white;
  }
}

.btn-euro-blue-royal-s {
  border-radius: 0;
  line-height: 25px;
  border:none;
  box-shadow: none;
  width: 100%;
  color: white;
  background-color: $blue_royal;

  &:hover {
    background-color: darken($blue_royal, 5%);
    color: white;
    letter-spacing: 1px;
    transition: letter-spacing 0.5s;
    text-decoration: underline;
  }
}

.btn-euro-yellow-s{
  border-radius: 0;
  line-height: 25px;
  border:none;
  box-shadow: none;
  width: 100%;
  color: white;
  background-color: $yellow;

  &:hover {
    background-color: darken($yellow, 5%);
    color: white;
    letter-spacing: 1px;
    transition: letter-spacing 0.5s;
    text-decoration: underline;
  }
}

.btn-euro-yellow-square {
  border-radius: 0;
  line-height: 25px;
  border:none;
  box-shadow: none;
  width: 100%;
  //color: white;
  //background-color: $blue_royal;
  background-color: white;
  border:3px solid $yellow;
  color: $yellow;
  &:hover {
    background-color: darken($yellow, 5%);
    color: white;
  }
}

.wrapper_form-filtre{
  width: 100%;
  border-radius: 8px;
  //background-color: lighten($blue,30%);
  //background-color: #E1EFFF;
  //background-color: lighten(lightgray,30%);
  //background-color: lighten(red,10%);
}

.aide-form{
  padding-top: 5px;
  color:$dgray;
  font-weight: bold;
  u{
    text-decoration:none ;border-bottom: 2px dashed $dgray;
  }
}

.checknoshadow{
  border:none;
  box-shadow: none;

}

.form-section{ padding-bottom: 7px; }
.form-section-sm{ padding-bottom: 5px; }

ul {
  &.select2-selection__rendered {
    list-style-type: none;
  }
  li{
    &.select2-search--inline {
      list-style-type: none;
    }
  }
}
li{
  &.select2-search--inline {
    list-style-type: none;
  }
}

//input[type=checkbox]{
//  color: red;
//  background-color: red;
//}


