.border_r{border:solid 1px red;}
.right{text-align: right};
.white{color:white}
.cpink{color:$pink}
.cblue{color:$blue}
.white{color:white}

.bgw{ background-color: white;}

div{
  &.pt {
    border-bottom:dashed 1px lightgray;
    padding: 10px;
  }
}

.br{
  border-right: solid 1px lightgray;
}

a{
  &.link-blue{
    color:$blue
  }
}

hr.hr-euro{
    border-bottom: dashed 1px $pink;
    opacity: 0.5;
}

hr.hr-yellow{
  border-bottom: dashed 1px $yellow;
  opacity: 0.5;
}

hr.hr-blue{
  border-bottom: dashed 1px $blue_royal;
  opacity: 0.5;
}

a{
  &.anconfigurator{
    text-decoration: none !important;
    color:white;

    &:hover
    {
      text-decoration: underline;
    }

  }
}

.etape-emp{

  letter-spacing: 2px;

  b{
    &.etape-under{
      font-weight: bolder;
      color : #F8CC49;
      //border-bottom: 2px solid lighten(#F8CC49,5%);
    }

  }
}

.link_fiche_technique{
  color : darken($yellow,10%)
}

